#MENU-navigation
{ 
  width: auto;
  float: right;
  position: absolute;
  top: 0px;
  right: 1px;
}

#MENU-navigation h1
{
  display: none;
}

#MENU-navigation ul li
{ 
  display: inline;
}

#MENU-navigation a
{ 
  display: inline;
}

#MENU-navigation li span span
{ 
  width: auto;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
}

#MENU-navigation li.selected-item
{ 
  background: none;
}
#MENU-navigation li.selected-item span
{ 
  background: none;
}