div.blog-widget div.post-widget .view,
div.blog-widget div.post-widget .view .extra-top-2,
div.blog-widget div.post-widget .view .extra-top-1,
div.blog-widget div.post-widget .view .extra-bottom-2,
div.blog-widget div.post-widget .view .extra-bottom-3,
div.blog-widget div.post-widget .view .extra-bottom-1
{  
  border: none;
  background: none;
  width: 100%;
}

div.blog-widget div.post-widget .view h1
{ display: none; }

div.blog-widget div.post-widget .view li span.label
{ display: none; }

div.blog-widget div.post-widget .view li.title
{ 
  font-variant: small-caps;
  font-style: bold;
  font-size: large;
}

div.blog-widget div.post-widget .view li.time
{ 
  font-style: oblique;
}

div.blog-widget div.post-widget .view li.author
{
  font-style: italic;
}

/***********************************************************************/

div.blog-widget.blog-mode div.post-widget
{  
  width: 310px;
  height: 310px;
  background-image: url('../images/bubble-310x310.png');
}

div.blog-widget.blog-mode div.post-widget .view
{ 
  position: relative;
  top: 13%;
}

div.blog-widget.blog-mode div.post-widget .view ul
{ 
  border: none;
  text-align: center;
}

div.blog-widget.blog-mode div.post-widget .view li
{  
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  text-align: center;
  border: none;
}

div.blog-widget.blog-mode div.post-widget .view li.title
{ 
  width: 60%;
}

div.blog-widget.blog-mode div.post-widget .view li.title a
{ 
  color: #79cdcd;
  padding-left: none;
}

div.blog-widget.blog-mode div.post-widget .view li.short-text
{ 
  margin-top: 5%;
  width: 85%;
  height: 150px;
}

/***********************************************************************/

div.blog-widget.post-mode div.post-widget .view ul
{ 
  border: none;
}

div.blog-widget.post-mode div.post-widget .view li
{ 
  border-bottom: none;
}

div.blog-widget.post-mode div.post-widget .view li.title
{ 
  border-bottom: 1px solid black;
  text-align: center;
}

div.blog-widget.post-mode div.post-widget .view li.text
{ 
  margin-top: 30px;
  margin-bottom: 30px;
}

div.blog-widget.post-mode div.post-widget .view li.author
{ 
  float: left;
  margin-right: 150px;
}

div.blog-widget.post-mode div.post-widget .view li.time
{ 
  width: 100px;
  float: right;
}